@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,300,400,700|Crimson+Text:400,400i,700,700i|Noto+Serif:400,400i,700,700i|PT+Serif:400,400i,700,700i|PT+Sans:400,400i,700,700i');

.googlefonts {
  h1, h2, h3, h4, h5, h6, .download, .subhead {
    font-family: 'oswald', impact, sans-serif !important;
  }
  p, figcaption, ul, blockquote {
    font-family: 'pt serif', serif !important;
  }
  p.lead, .photoby {
    font-family: 'pt sans', sans-serif !important;
  }
  h1 {
    font-size: 5.6rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  .download {
    font-size: 2rem;
    line-height: 1.2;
    .inner {
      padding-bottom: 1.5rem;
    }
  }
  div.split figcaption, div.split.quote figcaption {
    font-size: 1.6rem !important;
    line-height: 1.4 !important;
  }
}

.googlefonts2 {
  font-size: 120%;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'abril fatface', serif !important;
    font-weight: 400;
  }
  h1, h2, h3 {
    text-transform: uppercase;
  }
  .subhead, p, figcaption, ul, blockquote, .photoby, .download {
    font-family: 'crimson text', serif !important;
  }
}