$serif: georgia, serif;
$sans-serif: arial, monospace;

$font-xs: 0.68rem;
$font-s: 0.8rem;

$color-white: #fff;
$color-black: #000;
$color-red: rgb(255, 80, 47);
$color-turquoise: rgb(91, 209, 215);
$color-blue: rgb(0, 77, 97);

$color-theme: $color-turquoise;

$color-background: $color-white;
$color-text: $color-black;

$width-xs: 24rem;
$width-s: 33rem;
$width-m: 42rem;
$width-l: 48rem;

$media-s: 700px;