@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,700|Nunito:400,400i,700,700i|PT+Sans:400,400i,700,700i|Dosis:400,500,800');

$serif: 'nunito', sans-serif;
$sans-serif: 'dosis', impact, sans-serif;

$font-xs: 0.68rem;
$font-s: 0.8rem;

$color-white: #fff;
$color-black: #000;
$color-red: rgb(255, 80, 47);
$color-turquoise: rgb(91, 209, 215);
$color-blue: rgb(0, 77, 97);

$color-theme: $color-turquoise;
$color-theme-dark: $color-blue;

$color-background: $color-white;
$color-text: $color-black;

$width-xs: 24rem;
$width-s: 33rem;
$width-m: 44rem;
$width-l: 48rem;
$width-xl: 56rem;

$media-s: 700px;
$media-m: 900px;